<h1>Quiz</h1>

<div id="quiz">
    <div class="quiz-box">
        <div class="quiz-q">
            <p><b><%=items[0].q%></b></p>
        </div>
        <div class="quiz-a">
            <form>
                <% for(i=0; i < items[0].a.length; i++ ) { %>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="answer"
                            value="<%=items[0].a[i]%>"><%=items[0].a[i]%>
                    </label>
                </div>
                <% } %>
            </form>
        </div>
        <div class="quiz-submit-btn">
            <button class="quiz-btn">Submit</button>
        </div>
    </div>
</div>