body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.quiz-home{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.start {
  width: 30vw;
  padding: 30px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#examineeName{
  margin-bottom: 20px; 
  padding: 5px;
  border-radius: 4px;
}
.startBtn {
  border: 0px;
  border-radius: 5px;
  padding: 10px 25px 10px 25px;
  font-size: x-large;
  background-color: blueviolet;
  color: white;
  /* -webkit-animation-name: example;
  -webkit-animation-duration: 4s; 
  animation-name: startBtn;
  animation-duration: 4s;  */
}

.startBtn:hover {
  cursor: pointer;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  -webkit-animation-name: startBtn;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.6s;
  /* Safari 4.0 - 8.0 */
  animation-name: startBtn;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes startBtn {
  from {
    box-shadow: 0;
  }

  to {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

.startBtn:active {
  border: 0px;
}

.startBtn a {
  text-decoration: none;
  color: white;
}

.startBtn a:hover {
  color: white;
}

.quiz-box {
  padding: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.quiz-a{
  padding-top: 15x;
}

.quiz-submit-btn{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.quiz-btn{
  border: 0px;
  padding: 10px 15px;
  background-color: blueviolet;
  color: white;
  border-radius: 5px;
}
.quiz-radio-options{
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  width: 300px;
}
.quiz-radio-options label{
  width: 100%;
}

nav{
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* YOUR SCORE */
.yourscore-card{
  width: 80%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media only screen and (max-width: 900px){
  .start{
    width: 90vw;
  }
}